body {
    background-color: #EDEDED;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(#C8CDE4, #EDEDED);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header span {
    font-size: 17px;
    font-family: Arial, serif;
}

.menu {
    display: flex;
    gap: 20vh;
}

.left-menu {
    margin-right: auto;
    margin-left: 7%;
}

.right-menu {
    margin-left: auto;
    margin-right: 7%;
}

.menu span {
    cursor: pointer;
}

#Logo {
    z-index: 1001;
    width: 15%;
    height: auto;
    position: sticky;
    top: 1%;
    left: 42.9%;
}

#TartaReina {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -11%;
}

#TartaReina img {
    width: 65%;
    height: auto;
    margin-top: 10%;
}

.Spacer {
    height: 8vh;
    z-index: -100;
}