body {
    background-color: #EDEDED;
    margin: 0;
    font-family: Arial, sans-serif;
}

#Logo {
    z-index: 1001;
    width: 15%;
    height: auto;
    position: sticky;
    top: 1%;
    left: 42.9%;
}

#TartaReina {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -11%;
}

#TartaReina img {
    width: 65%;
    height: auto;
    margin-top: 10%;
}

.Spacer {
    height: 8vh;
    z-index: -100;
}

a {
    text-decoration: none;
}