body {
    background-color: #EDEDED;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(#C8CDE4, #EDEDED);
}

header span {
    font-size: 20px;
    font-family: Arial, serif;
}

.menu {
    display: flex;
    gap: 230px;

}

.left-menu {
    margin-right: auto;
    margin-left: 7%;
}

.right-menu {
    margin-left: auto;
    margin-right: 7%;
}

.menu span {
    cursor: pointer;
}


#Logo {
    width: 15%;
    height: 15%;
}